/*Section Cards*/
.section_cards {
	padding: 10%;
}
.contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px 50px;
	grid-template-areas: "uno dos tres";
}
.card {
	/*max-width: 360px;*/
	padding: 10px;
    padding-bottom: 50px;
	border: 2px solid lightgray;
	border-radius: 10px;
	box-shadow: 10px 10px 18px gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	&:hover {
		transition: 300ms;
		transform: scale(105%);
	}
	img {
        border-radius: 5px;
	}
}
.uno {
	grid-area: uno;
}
.dos {
	grid-area: dos;
}
.tres {
	grid-area: tres;
}
.separador {
	width: 100%;
	border-top: 2px solid lightgray;
	margin-top: 20px;
	margin-bottom: 20px;
}
.fa-solid {
	color: #E8CA0A;
}
.animation-bell {
	&:hover {
		animation: wobble-hor-bottom 0.8s both;
	}
}