/*Header*/
.header__titulo {
	padding-top: 20%;
	padding-left: 10%;
	padding-right: 50%;
	padding-bottom: 10%;
	background-image: url(../assets/imagenes/imagen_portada.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	div {
		h1 {
			font-weight: 700;
			font-size: 80px;
			margin-bottom: 100px;
		}
	}
}

