@mixin titulo_seccion (){
    border-bottom: 2px solid #6558F5;
	margin-bottom: 50px;
}

@mixin background_img (){
    background-image: url(../assets/imagenes/Fondo_seccion_2.jpg);
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;

}